<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584434033144-5bli207a72tpctd7o4ae2ds7itvfhq7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584434033144-5bli207a72tpctd7o4ae2ds7itvfhq7v</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Yea5snXTV1-t3LfwlrWhEZm-s--_N1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>584434033144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syoyabu.map</string>
	<key>PROJECT_ID</key>
	<string>map-ios-19bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>map-ios-19bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584434033144:ios:4907ac9adbda8c3a76360d</string>
</dict>
</plist>